torch
more-itertools
numpy
gensim
pandas
scikit-learn
tensorflow-hub 
transformers
tensorflow
spacy
clean-text
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0.tar.gz
